@import 'flexbox'; 

.board{
    // background-color: red;

    @include flexbox(column, center, center)
}

.row{
    @include flexbox("", center, center)
}
.wall{
    // background-color: black;
}
.dummyWall{
    width: 0.2rem;
    height: 0.2rem;
}
.verticalWall{
    height: 1.5rem;
    width: 0.2rem;
}
.horizontalWall{
    width: 1.5rem;
    height: 0.2rem;
}
.square{
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 0.1rem;
    cursor: pointer;
}