@import 'flexbox'; 

$wallThicknes : 0.8px;
$wallColor: #000;
$correctPathColor: rgba(0, 128, 0, 0.75);
$secondaryColor: #A4BE7B;

.board{
    border: $wallThicknes solid $wallColor;
    border-top: none;
    background-color: $secondaryColor;
    @include flexbox(column, stretch, stretch);
    max-height: 80vh;
    aspect-ratio: 1;
    z-index: 5;
}


.row{
    width: 100%;
    @include flexbox(row, stretch, stretch);
}

.square{
    // background-color: red;
    height: 100%;
    cursor: pointer;
    @include flexbox('', center, center);
    font-size: 0.5rem;
    z-index: 5;
    color: black;
}

.wallRow{
    max-height: $wallThicknes;
    max-width: 100%;
}

.verticalWall{
    height: 100%;
    max-width: $wallThicknes;
}

.horizontalWall{
    max-height: $wallThicknes;
    width: 50px;
}

.row, .square, .horizontalWall, .verticalWall, .horizontalWall{
    flex: 1;
}
.standingWall{
    background-color: $wallColor;
    // background-color: #fff;
}
.dummyWall{
    max-width: $wallThicknes;
    max-height: $wallThicknes;
    // margin: 1px 1px;
    // background-color: #000;
}

.square:hover{
    background-color: rgba(255, 166, 0, 0.404);
}
.topSqaure, .topWall{
    // background-color: rgba(0, 128, 0, 0.404);
    background-color: $correctPathColor;
}
.steppedSquare, .crossedWall{
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: appear 100ms ease forwards ;
    animation-fill-mode: forwards;
}
.steppedSquare-red{
    // background-color: rgb(255, 0, 0, 0.404);
    background-color: #FF0060;
}
.wall{
    // background-color: red;s
}

@media screen and (min-width: 730px){
    .board{
        max-width: 50vw;
    }
}

@media screen and (max-width: 729px){
    .board{
        max-width: 75vw;
    }
}

@keyframes appear {
    from{
        background-color: rgba(255, 166, 0, 0.404);
    }
    to{
        // background-color: rgba(0, 128, 0, 0.404);
        background-color: $correctPathColor;
    }
}


/*
app
walls
path
trap
*/