@import 'flexbox'; 

.board{
    // background-color: red;
    // transform: scale(2);
    @include flexbox(column, center, center)
}

.row{
    @include flexbox("", center, center)
}
.wall{
    // background-color: #ffffff50;
    background-color: #282c34;
}
.standingWall{
    background-color: #f30101;
    // background-color: #fff;
}
.dummyWall{
    width: 2px;
    height: 2px;
    // margin: 1px 1px;
}
.verticalWall{
    height: 1.5rem;
    width: 2px;
    // margin: auto 1px;
}
.horizontalWall{
    width: 1.5rem;
    height: 2px;
    // margin: 1px auto;
}
.square{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #282c34;
    border-radius: 0.1rem;
    cursor: pointer;
    @include flexbox('', center, center);
    font-size: 0.5rem;
}
.square:hover{
    background-color: rgba(255, 166, 0, 0.404);
}
.steppedSquare{
    background-color: rgba(0, 128, 0, 0.404);
}
.topSqaure, .topWall{
    background-color: rgba(0, 128, 0, 0.596);
}
.steppedSquare-red{
    background-color: rgb(255, 0, 0, 0.404);
}