@import "flexbox";
@import 'breakpoints';


$primaryColor: rgba(0, 128, 0, 0.75);
$secondaryColor: #A4BE7B;

.maze{
    @include flexbox(column, center, center);
    flex: 1;
}
.mazeSetting{
    width: 50vw;
    margin-top: 0.5rem;
    @include flexbox(row, center, center);
}
.MuiSlider-root{ //slider
    color: $primaryColor !important;
}
.MuiSlider-mark{ // dots on left side of slider button
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.algorithmButton{
    position: absolute;
    right: -5vw;
    bottom: 2rem;
    border: 1px solid $primaryColor;
    border-radius: 4px;
    padding: 4px 8px;
    color: $primaryColor;
    cursor: pointer;
    @include flexbox(row, center, center);
    &:hover{
        background-color: $primaryColor;
        color: $secondaryColor;
        border-color: $secondaryColor;

    }
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    @include sm-below-screen{
        bottom: 5rem;
    }
    span{
        animation: jump 2s infinite;
    }
}

@keyframes jump {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }

}

