@import "flexbox";

.maze{
    @include flexbox(column, center, center);
    flex: 1;
}
.mazeSetting{
    width: 50vw;
    margin-top: 0.5rem;
}
.MuiSlider-root{ //slider
    color: rgba(0, 128, 0, 0.75) !important;
}
.MuiSlider-mark{ // dots on left side of slider button
    background-color: rgba(255, 255, 255, 0.25) !important;
}