.App {
  text-align: center;
  /* background-color: #967a7a; */
  /* background-color: rgba(0, 128, 0, 0.404); */
  background-color: #A4BE7B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgba(0, 128, 0, 0.75);
  /* height: 100vh; */
  font-family: 'Mooli', sans-serif;
  /* overflow-x: hidden; */
}
*{
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.landingSection{
  height: 100vh;
  width: 80vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.App-header {
  /* height: 10vh; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  /* color: auto; */
}

*::-webkit-scrollbar {
  width: 0.5em;
  background-color: #A4BE7B;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 128, 0, 0.75);
  border-radius: 4px;
  outline: 1px solid slategrey;
  cursor: pointer;
}